<div class="create-wrapper">
  <section class="create-hero">
    <div class="wrap">
      <h2>Add Sneakers</h2>
    </div>
  </section>

  <section class="create-form">
    <div class="wrap">
      <form method="POST">
        <div class="input-wrap">
          <input type="text" id="brand" name="brand" placeholder="Brand" />
        </div>
        <div class="input-wrap">
          <input type="text" id="model" name="model" placeholder="Model" />
        </div>
        <div class="input-wrap">
          <input type="number" id="price" name="price" placeholder="Price" />
        </div>
        <div class="input-wrap">
          <input
            type="text"
            id="condition"
            name="condition"
            placeholder="Condition"
          />
        </div>
        <div class="input-wrap">
          <input type="number" id="year" name="year" placeholder="Year" />
        </div>
        <div class="input-wrap">
          <input type="number" id="size" name="size" placeholder="Size" />
        </div>
        <div class="input-wrap">
          <input
            type="text"
            id="image"
            name="imageUrl"
            placeholder="ImageUrl"
          />
        </div>
        <div class="input-wrap">
          <input
            type="text"
            id="description"
            name="description"
            placeholder="Description"
          />
        </div>
        <button type="submit" class="btn">Add</button>
      </form>
    </div>
  </section>
</div>